.container-fluid{
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
}

.bodyBack{
	background-image: url("assets/bg_city.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 2%;
}

#brandName {
	font-family: 'Raleway Dots', cursive;
	font-size: 28px;
	padding-right: 16%;
}

#upCUM img{
	border-radius: 5%;
	/*box-shadow: */
}

.img-fluid {
	margin-left: 5%;
}
.hamburgler:hover{
	cursor: pointer;
}
.hamburgler:hover .bar1, .hamburgler:hover .bar2, .hamburgler:hover .bar3{
	background-color: rgb(250,180,205);
}
#myDropdown{
	position: fixed;
	width: 20%;
	height: 90.5%;
	top: 4.25em;
	margin-top:0;
	margin-left: 80%;
	margin-right: auto;
}
.navbar-expand-lg{
	z-index:10;
	width: 100%;
	position: fixed;
}
.bar1, .bar2, .bar3{
width: 35px;
height: 5px; 
border-radius: 3px;
background-color: #FFF;   
margin: 6px auto;
transition: 0.3s;
}
.change .bar1 {
-webkit-transform: rotate(-45deg) translate-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2{ opacity: 0.0;}

.change .bar3{
 -webkit-transform: rotate(-45deg) translate(-8px, -8px);
 transform: rotate(45deg) translate(-8px, -8px);
}

#mainView h1{
	text-shadow: -2px 2px 24px #000000;
	padding: 2% 1%;
	font-size: 100px;
	color: #fff;
	opacity: .78;
	text-shadow: 
}

/*.eP1{
	box-sizing: content-box;

	background-color: rgba(255, 255, 255,.75);
	margin-right: 20%;
}*/

#search {
	width: 50% !important;
}

#following{
	margin-bottom: 0 !important;
	background-color: grey;
}

#FeaturedPhotos {
	padding-left: 1%;
	padding-right:2%;
}

.form-inline{
	position: center;
}

#upcomingEvents {
	padding-right: 2%;
	padding-bottom: 2%;
	text-align: center;
}

#upcomingEvents h1{
	text-align: center;
}

#following{
}

.event {
	background-color: rgba(255,255,255,.9);
	box-sizing: content-box;
	box-shadow: -2px 7px 14px  #484949;
}

.event h3 {
	padding-top: 1%;
}

.event p{
	padding-right: 4%;
	padding-bottom: 2%;
}

#eventHeading{
	font-family:'Cormorant', serif;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	font-size: 72px;
	color: #FFF;

	padding-left: 3%;
	padding-top: 2%;
	padding-bottom: 3%;
}


#e1 h3{
	margin-left: 22%;
}

#e2 h3{
	margin-left: 22%;
}

#e3 h3{
	margin-left: 22%;
}

#e4 h3{
	margin-left: 22%;;
}







